html{
  scroll-behavior: smooth;
}

.story p {
  color: #64748b;
  margin-bottom: 8px;
  text-align: justify;
  text-indent: 30px;
}

input[type="radio"]:checked + label {
  background-color: #8583ff;
  color: white;
}

.desc p{
  text-align: justify;
  margin-bottom: 16px;
}
